.DS_Store
node_modules
/src
/public
./package.json
./oackage-lock.json
./jsconfig.json
./babel.config.js
./tailwind.config.js
./vue.config.js


# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?


